body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background: url("./images/kbc_cut.png");
    backdrop-filter: blur(3px);
    background-size: cover;
    font-family: 'Clash Display', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

a:hover {
    color: goldenrod;
}

.flex-jcc { display: flex; justify-content: center; }
.align-center { align-items: center;}

#intro-vid {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    animation: fade 26s linear;
    position: absolute;
    background-size: cover;
    background-color: black;
}

h1 { margin: 0; }

main {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

#xyz {
    flex-direction: column;
    padding: 50px;
    height: 70vh;
    background: linear-gradient(to bottom left, darkblue, blue,rgb(157, 10, 190), purple,gold , goldenrod);
    background-size: 1000% 1000%;
    animation: bgGradient 15s ease infinite;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px black;
}

@keyframes bgGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
#xyz img {
    width: 150px;
    margin-bottom: 10px;
}

#title {
    display: flex;
    flex-direction: column;
    font-weight: 650;
    font-size: 4rem;
    text-shadow: 5px 5px 5px darkblue;
    text-transform: capitalize;
}

#xyz h3 {
    font-size: 1.5em;
    margin: 20px;
    margin-bottom: 15px;
    text-shadow: 5px 5px 5px black;
    text-shadow: 5px 5px 5px darkblue;
}

#xyz input {
    width: 190px;
    height: 25px;
    outline: none;
    border: none;
    font: inherit;
    padding: 5px 5px ;
    font-weight: 600;
    color: darkblue;
    border-radius: 5px;
    text-align: center;
}

#start-btn {
    margin: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    font: inherit;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
}

#start-btn:hover{
    background-color: blue;
    box-shadow: 2px 2px 10px darkblue;
}

.game-start-elements {
    width: 30vw;
    height: 4vh;
    color: white;
    text-align: center;
}

#name-label { font-size: 1.5rem; }

#name-input {
    color: black;
    font-size: 1.5rem;
    border-radius: 9999px;
}

#game {
    display: none;
    width: 100vw;
    height: 98vh;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    color: white;
    margin-top: 50px;
}

#question {
    width: 60vw;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.triangle {
    border-color: transparent goldenrod transparent #3e0575;
    border-style: solid;
    border-width: 40px 0px 40px 75px;
    height: 0;
    width: 0;
    position: relative;
}

.triangle1 {
    border-color: transparent goldenrod transparent #3e0575;
    border-style: solid;
    border-width: 26px 0px 26px 40px;
    height: 0;
    width: 0;
    position: relative;
}

.triangle-selected {
    border-color: transparent goldenrod transparent #f9ba06;
}

#question-text {
    background-color: #3e0575;
    width: 45vw;
    text-align: center;
    border-bottom: 2px solid goldenrod;
    border-top: 2px solid goldenrod;
}

#options {
    width: 60vw;
    text-align: center;
    font-size: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
}

.options-row { width: 100%; }

.opt-common {
    display: flex;
}

.option {
    background-color: #3e0575;
    width: 22vw;
    height: 3.2rem;
    font-size: 1.2rem;
    border-bottom: 2px solid goldenrod;
    border-top: 2px solid goldenrod;
    cursor: pointer;
    font-weight: lighter;
}

.option:hover {
    color: gold;
    font-weight: normal;
}

.option-selected {
    background-color: #f9ba06;
}

#name {
    width: 15vw;
    height: 7vh;
    background-color: #3e0575;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: 1px solid goldenrod;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 20px;
    border-bottom: 2px solid gold;
}

#timer-text {
    background-color: #3e0575;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 3px solid goldenrod;
    border-bottom: 0;
    font-size: 2rem;
    padding: 15px 30px 5px 30px;
    position: absolute;
    top: 54px;
    left: -50px;
}

.correct-answer {
    background-color: #f9ba06;
}

#prize-won {
    position: absolute;
    background-color: #3e0575;
    width: 57vw;
    height: 10rem;
    top: 200px;
    left: -28vw;
    z-index: 2;
    border-radius: 5px;
    border: 2px solid goldenrod;
    font-size: 3rem;
    font-weight: lighter;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gold;
}

#question-info {
    width: 17vw;
    height: 60vh;
    background-color: #3e0575;
    border-radius: 15px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid goldenrod;
    border-bottom: 4px solid gold;
    position: absolute;
    top: 120px;
    right: 20px;
    font-weight: 500;
    line-height: 35px;
}
#prize {
    font-weight: 800;
    border-bottom: 5px solid gold;
    margin-bottom: 10px;
    font-size: 2rem;
}

.winning-screen {
    display: none;
    height: 30rem;
    width: 30rem;
    text-align: center;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3e0575;
    border: 3px solid goldenrod;
    border-bottom: 5px solid gold;
    border-top: 5px solid gold;
    border-radius: 15px;
    margin-bottom: 2rem;
}
  
.winning-screen > p {
    font-size: 3rem;
    color: goldenrod;
    margin: 0%;
}
  
.play-again {
    font-size: 1rem;
    padding: 10px;
    width: 15rem;
    color: white;
    background-color: #3e0575;
    border: 3px solid goldenrod;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font: inherit;
    transition: 0.3s;
    border-top: 4px solid gold;
    border-bottom: 4px solid gold;
}

.play-again:hover {
    color: black;
    background: gold;
    font-weight: normal;
}

/* fade animation for kbc intro video */
@keyframes fade { 
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}